body {
    background-color: #060a2c;
}

.main-app-container {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

.all-boards-container {
    width: 100%;
    padding-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(380px, auto));
    grid-gap: 10px;
    justify-items: center;
}

.page-title {
    width: max-content;
    height: max-content;

    font-family: 'Space Mono';
    font-size: 100px;
    font-weight: 400;

    color: white;
}

.nav {
    width: 100%;
    margin-top: 25px;
    margin-right: 45px;
    display: flex;
    justify-content: right;
}

.settings-icon {
    width: 38px;
}

a,
a:visited,
a:hover,
a:active {
    color: white;
    text-decoration: none;
}

.page-author {
    font-family: 'Space Mono';
    font-size: 20px;

    margin-bottom: 20px;

    color: white;
}

.contributors {
    margin-top: -15px;
}

@media screen and (max-width: 1200px) {
    .main-app-container {
        height: 100%;
    }
}

@media screen and (max-width: 770px) {
    .page-title {
        margin-top: 40px;
        font-size: 90px;
    }

    .page-author {
        font-size: 18px;
    }

    .settings-icon {
        width: 38px;
    }
}

@media screen and (max-width: 490px) {
    .page-title {
        margin-top: 40px;
        margin-bottom: 10px;
        font-size: 79px;
        font-weight: 500;
    }

    .page-author {
        font-size: 15px;
    }

    .settings-icon {
        width: 35px;
    }
}

@media screen and (max-width: 420px) {
    .all-boards-container {
        grid-row-gap: 10px;
    }

    .page-title {
        margin-top: 40px;
        margin-bottom: 10px;
        font-size: 60px;
        font-weight: 500;
    }

    .settings-icon {
        width: 32px;
    }

    .page-author {
        font-size: 15px;
    }

    .wrapper {
        width: 320px;
    }

    .board {
        width: 350px;
    }

    .board-title {
        font-size: 40px;
    }

    .board-date {
        font-size: 80px;
    }

    p.title {
        font-size: 15px;
    }
}

@media screen and (max-width: 380px) {
    .all-boards-container {
        grid-template-columns: repeat(auto-fit, minmax(360px, auto));
        margin-left: 0;
    }

    .page-title {
        margin-top: 40px;
        margin-bottom: 10px;
        font-size: 55px;
        font-weight: 500;
    }

    .settings-icon {
        width: 30px;
    }

    .page-author {
        font-size: 14px;
    }

    .wrapper {
        width: 300px;
    }

    .board {
        width: 330px;
    }

    .board-title {
        font-size: 40px;
    }

    .board-date {
        font-size: 80px;
    }
}
