* {
    margin: 0;
    padding: 0;
}

.wrapper {
    background: #4d569b;

    width: 350px;
    height: max-content;

    display: grid;
    grid-template-columns: max-content 2fr;

    border-radius: 5px;
    overflow: hidden;

    margin-bottom: 8px;

    position: relative;
}

.indicator {
    display: flex;
    font-family: 'Space Mono';
    font-weight: 600;
}

.indicator > p {
    padding: 6px;
    align-self: center;
}

.assignment {
    background: #59eee5;
    color: #068b83;
}

.assignment > p::before {
    content: 'A';
}

.assignment > p:hover::after {
    content: 'SG';
}

.experiment {
    background: #59b0ee;
    color: #0975c3;
}

.experiment > p::before {
    content: 'E';
}

.experiment > p:hover::after {
    content: 'XP';
}

.quiz {
    background: #c5e56a;
    color: #77a000;
    font-size: 15px;
    padding: 0;
}

.quiz > p::before {
    content: 'Q';
}

.quiz > p:hover::after {
    content: 'UIZ';
}

.other {
    background: #dd81fd;
    color: #b327e3;
}

.other > p::before {
    content: 'O';
}

.other > p:hover::after {
    content: 'THER';
}

.details {
    padding: 15px;

    font-family: 'Inter';
    color: white;
}

.title {
    font-size: 16px;
    font-weight: 00;
}

.subtitle {
    font-size: 14px;
    font-weight: 500;
}
